{
    "HOST"              :  "127.0.0.1",
    "PORT"              :  5003,
    "DATABASE_URL"      : "postgresql://postgres:root123@localhost:5432/grocery_orders",
    "DEBUG"             : true,
    "PRODUCT_SERVICE_URL" : "http://localhost:5000/products/check_availability",
    "PRODUCT_UPDATE_URL" : "http://localhost:5000/products/update-quantity",
    "SECRET_KEY"    :  "your-very-secret-key"
}