{
"HOST"              :  "0.0.0.0",
"PORT"              :  5003,
"DATABASE_URL"      : "postgresql://postgres:SHMIgtBBk1zQKYhMSmDX@database-1.c3u0oys8ik2c.eu-west-2.rds.amazonaws.com:5432/grocery_orders",
"DEBUG"             : true,
"PRODUCT_SERVICE_URL" : "http://groceryproduct-env.eba-8xicmuwj.eu-west-2.elasticbeanstalk.com/products/check_availability",
"PRODUCT_UPDATE_URL" : "http://groceryproduct-env.eba-8xicmuwj.eu-west-2.elasticbeanstalk.com/products/update-quantity",
"SECRET_KEY"    :  "your-very-secret-key"
}