{
"HOST"              :  "0.0.0.0",
"PORT"              :  5003,
"DATABASE_URL"      : "postgresql://USERNAME:PASSWORD@HOST:PORT/grocery_orders",
"DEBUG"             : true,
"PRODUCT_SERVICE_URL" : "http://groceryproduct-env.eba-8xicmuwj.eu-west-2.elasticbeanstalk.com/products/check_availability",
"PRODUCT_UPDATE_URL" : "http://groceryproduct-env.eba-8xicmuwj.eu-west-2.elasticbeanstalk.com/products/update-quantity",
"SECRET_KEY"    :  "GT6kS1_ascJ2lv8LvL-QIiXGzsBjJvGmFJri5YmKQU6wBamEn3kVjN4YsyTKBTQlH-vz--tLRi-HqToRuHHWeQ=="
}