{
    "HOST"              :  "localhost",
    "PORT"              :  5000,
    "DATABASE_URL"      : "postgresql://postgres:root123@localhost:5432/grocery_orders",
    "DEBUG"             : true,
    "PRODUCT_SERVICE_URL" : "http://localhost:5001/api/products/check_availability",
    "PRODUCT_UPDATE_URL" : "http://localhost:5001/api/products/update_stock"
}